<div class="grey-row">
  <div class="container">
    <div class="row">


      <div class="col-md-3 col-sm-6 div-01">
        <a> <span><img alt="FREE DELIVERY" title="FREE DELIVERY"
              src="assets/images/delivery.png"></span>
          <span>
            <b>FREE DELIVERY</b>
            <p>Logo service from $1.29</p>
          </span>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 div-02">
        <a ><span><img alt="24 HOURS DISPATCH" title="24 HOURS DISPATCH"
              src="assets/images/24-hour.png"></span>
          <span>
            <b>24 HOURS DISPATCH</b>
            <p>On order over $99</p>
          </span>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 div-03">
        <a >
          <span><img alt="Exclusions" title="Exclusions" src="assets/images/return.png"></span>
          <span>
            <b>FREE RETURNS</b>
            <p>Exclusions apply</p>
          </span>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 div-04">
        <a >
          <span><img alt="RATED EXCELLENT" title="RATED EXCELLENT" src="assets/images/rated.png"></span>
          <span>
            <b>RATED EXCELLENT</b>
            <p>Read our latest reviews</p>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>