<app-header></app-header>
<section class="product-list">
  <app-top-header></app-top-header>
  <ul class="breadcrumb">
    <span class="container">
      <li><a href="/">Home</a></li>
      <li>Change Password</li>
    </span>
  </ul>

  <section class="container">
    <div class="row">
      <app-side-header></app-side-header>
      <div class="col-md-9 col-sm-12 table-list customer-dash-table">
        <div class="logout">
          <p (click)="logout()" id="logout">
            <a class="button_style" >Log Out</a></p>
            <h3 class="page_heading">Customer - Password</h3>
        </div>
        

        <p><strong>Change Password</strong></p>
        <div class="card-details-section">


          <div class="card-details">

            <label>Current Password</label>
            <input type="text" class="form-control" id="current" (blur)="checkPass($event)">

            <form [formGroup]="change_password" (ngSubmit)="onSubmit()">
              <label>New Password</label>
              <input type="password" formControlName="password" disabled class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password?.errors }" placeholder="********">
              <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                <div *ngIf="f.password?.errors.required" class="validation">Password is required</div>
              </div>

              <label>Confirm New Password</label>
              <input type="password" formControlName="confirm_password" disabled class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirm_password?.errors }" placeholder="********">
              <div *ngIf="submitted && f.confirm_password?.errors" class="invalid-feedback">
                <div *ngIf="f.confirm_password?.errors.required" class="validation">Confirm Password is required</div>
                <div *ngIf="f.confirm_password?.errors.mustMatch" class="validation">Password should be same</div>
              </div>

              <div class="div_msg" id="div1">
                <span id="errorMsg" class=""></span>
              </div>
              
              <div class="add-method-btn" >
                <button class="my-button">UPDATE</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<app-popup></app-popup>